LASTFM_API_KEY=
REQUEST_TIMEOUT_SECONDS=12
RESULT_LIMIT=6
MAX_LOCAL_POPULARITY=45
MAX_LASTFM_LISTENERS=50000
MAX_DEEZER_FANS=50000
NLP_MAX_FEATURES=96
CLUSTER_COUNT=14
CLUSTER_SAMPLE_SIZE=5000
RECENT_ARTIST_WINDOW=12
RECENT_TRACK_WINDOW=18
